ul{
    background-color: burlywood;
    margin: -10px;
    margin-bottom: 0px;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    width: 100%;
}
li{
    float: left;
}
li a{
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 4px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px;
}
li a:hover{
    color: white;
    background-color: rgb(100, 74, 40);
}
.Present{
    color: white;
    background-color: orangered;
}
p{  
    border: 0%;
    background-color: skyblue;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px -10px 0px -10px;
    padding: 10px;
}